html{
    scroll-behavior: smooth;
}
body{
    font-family: 'poppins', sans-serif;
}
section {
    background-color: white;
}
.aboutme-section{
    display: flex;
    justify-content: space-around;
    padding: 80px;
}
.projects-section{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 80px;
}
.hero{
    background-color: white;
    height: 50%;
    color: black;
    font-size: 40px;
}
footer{
    background-color: darkgreen;
    color: pink;
    text-align: center;
    padding: 80px;
}
nav{
    display: flex;
    justify-content: space-between;
}
#nav-item:hover{
    color: pink;
}
ul{
    display: flex;
    list-style-type: none;
    width: 600px;
    justify-content: space-around;
    font-size: 30px;
}

ul.show{
    display: block;
}
li{
    text-decoration: none;
}
h1{
    color: darkgreen;
    font-size: 60px;
}
h2{
    font-size: 40px;
}
h3{
    font-size:20px;
    font-weight: 100;
}

p{
    font-size: 20px;
    margin: 0;
    font-weight: 100;
}
.sub-text{
    font-size: 15px;
    font-weight: 300;
}
.hero-area{
    height: 50%;
    justify-content: space-between;
    align-items: center;
}
.hero-text{
    margin-left: 40px;
    margin-bottom: 100px;
}
.button{
    width: 200px;
    height: 55px;
    border-radius: 30px;
    background-color: white;
    text-align: center;
    font-size: 30px;
    font-weight: 300;
    padding-top: 5px;
    margin-top: 20px;
}

#icon{
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: transparent;
    color: pink;
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 30px; /* Increase font size */
}
#icon:hover{
    color: white;
}
.logo{
    height: 50px;
    margin: 15px;
}

.headshot{
    width: 400px;
    border-radius: 200px;
}
.headshot-container{
    display: flex;
    align-items: center;
}

.project-container{
    display: flex;
    justify-content: space-around;
}

@media only screen and (max-width: 1000px){
    .project-container{
        display: flex;
        flex-wrap: wrap;
    }
}

.project-image{
    display: flex;
}
hr{
    margin-left: 20px;
    margin-right: 20px;
}

.project-link{
    text-decoration: none;
    color: darkgreen
}

a{
    text-decoration: none;
    color: black;
}

.hamburger{
    display: none;
}
.hamburger:focus{
    outline: 0;
}

@media only screen and (max-width: 1000px){
    .hamburger{
        display: block;
        border: 0;
        background-color: transparent;
        color: pink;
        font-size: 30px;
        margin: 20px;
        align-self: flex-end;
    }
    ul{
        display: none;
        margin: 0px;
    }
    nav{
        display: flex;
        flex-direction: column-reverse;
    }
    .logo{
        display: none;
    }
    ul.show{
        display: block;
    }
}

#myBtn {
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: transparent;
    color: black; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 24px; /* Increase font size */
  }
  #myBtn:hover {
    color: pink; 
  }
  

.img-hover-zoom:hover img {
    transform: scale(0.9);
}
  
  
.fit{
    width: 100%;
}
  
.work{
    display: grid;
    grid-template:repeat(2,1fr)/repeat(2,1fr);
    justify-content: space-evenly;
    align-items: baseline;
    grid-gap: 5rem;
    }

.home-item a{
    text-decoration: none;
}

.title{
    color: darkgreen;
    line-height: 30px;
    font-weight: 400;
    font-size: 25px;
    margin-top: 10px;
    margin-bottom: 5px;
    padding-bottom: 5px;
    text-decoration:none;
    border-bottom: 1px solid pink;
}

p.des{
    margin-top: 1px;
    padding-top: 3px;
    margin-bottom: 30px;
}
a.link:hover{
    background-position-y:70%;
}

.img-hover-zoom {
    overflow: hidden;
}

.img-hover-zoom img {
  transition: transform .5s ease;
}


.img-hover-zoom:hover img {
  transform: scale(0.9);
}